<script type="text/javascript">
	atOptions = {
		'key' : '820cfcb4ac7e3366d9fe04d8567e6997',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//affectionparson.com/820cfcb4ac7e3366d9fe04d8567e6997/invoke.js"></script>
<script type="text/javascript">
	atOptions = {
		'key' : 'd68b540efe9e31da5d9667973ecf2717',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//affectionparson.com/d68b540efe9e31da5d9667973ecf2717/invoke.js"></script>
